.order_top {
  position: relative;
  margin-top: 50px;
  padding: 15px 45px;
  background: #95fe9e;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 1px solid #95fe9e;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
}

.order_top:hover {
  border: 1px solid #95fe9e;
  animation: wind 2s ease-in-out infinite;
}
